altgraph
annotated-types
anyio
asgiref
certifi
charset-normalizer
colorama
copier
decorator
dj-database-url
Django
django-cors-headers
django-crispy-forms
djangorestframework
dunamai
flet
flet-core
flet-runtime
funcy
gunicorn
h11
httpcore
httpx
idna
Jinja2
jinja2-ansible-filters
MarkupSafe
oauthlib
packaging
pathspec
pefile
Pillow
plumbum
prompt-toolkit
psycopg2
psycopg2-binary
pydantic
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib

pypng
python-decouple
pytube
pytz

PyYAML
pyyaml-include
qrcode
questionary
repath
requests
six
sniffio
sqlparse
typing_extensions
tzdata
urllib3
watchdog
wcwidth
websocket-client
websockets
whitenoise
win10toast
